* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
  }

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {

}

.left > img {
    width: 40vw;
    height: 100vh;
}

.logo  {
    align-items: center;
    height: 160px;
    position: absolute;
    font-family: norse-bold;
    color: white;
    font-size: 80px;
    top: 20vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    width: 40vw;
    gap: 1vw;
}

.logo > img {
    height: 120px;
}

.right {
}